<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    
    <div th:if="${users.size() == 0}"><h1>No tiene elementos usuarios!</h1></div>
    <!-- <div th:if="${users.isEmpty()}"><h1>No tiene elementos usuarios!</h1></div> -->

    <table th:if="${!users.isEmpty()}">
        <thead>
            <tr>
                <th>name</th>
                <th>lastname</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:unless="${user.email}" th:text="${'-'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>